<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sealiu.piece">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".controller.PieceAPP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBqWihzjyEJ2oTGKHvv_rhqbqPIqDaJPVI" />

        <activity
            android:name=".controller.LoginRegister.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.LoginRegister.RegisterActivity" />
        <activity
            android:name=".controller.Maps.MapsActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".controller.User.UserActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.Maps.MapsActivity" />
        </activity>
        <activity
            android:name=".controller.User.EditActivity"
            android:label="@string/edit_user_info">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.User.UserActivity" />
        </activity>
        <activity
            android:name=".controller.Settings.MyPreferenceActivity"
            android:label="@string/setting_menu_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.Maps.MapsActivity" />
        </activity>
        <activity
            android:name=".controller.Settings.FeedbackActivity"
            android:label="@string/pref_feedback_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.Settings.MyPreferenceActivity" />
        </activity>
        <activity
            android:name=".controller.Settings.TermsActivity"
            android:label="@string/pref_terms_of_use_title">

        </activity>
        <activity
            android:name=".controller.Settings.PrivacyActivity"
            android:label="@string/pref_privacy_policy_title">

        </activity>
        <activity
            android:name=".controller.Settings.LicensesActivity"
            android:label="@string/pref_licenses_title">

        </activity>
    </application>

</manifest>